@import "tailwindcss";
@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(
    135deg,
    #16002b,
    #3b0764,
    #831843
  );
  color: white;
}